<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phh.plannerproject.board.IBoardFreeMyBatisMapper">

    <!--게시글 등록 -->
    <insert id="insert" parameterType="BoardFreeDto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO board_free_tbl ( title
                                    , content
                                    , createId)
        VALUES ( #{title}
               , #{content}
               , #{createId})
    </insert>

    <!-- 게시글 상세정보 조회 -->
    <select id="findById" parameterType="long" resultType="BoardFreeDto" >
        SELECT id
             , title
             , content
             , viewQty
             , likeQty
             , createDt
             , createId
             , updateDt
             , deleteYn
        FROM board_tbl
        WHERE id = #{id}
          AND deleteYn = false
    </select>

    <!-- 게시글 수정 -->
    <update id="update" parameterType="BoardFreeDto">
        UPDATE board_free_tbl
        SET title = #{title}
          , content = #{content}
          , updateDt = #{updateDt}
        WHERE id = #{id}
    </update>

    <!-- 게시글 삭제 -->
    <delete id="delete" parameterType="long">
        UPDATE board_free_tbl
        SET deleteYn = TRUE
        WHERE id = #{id}
    </delete>

    <!-- 게시글 리스트 조회 -->
    <select id="findAll" resultType="BoardFreeDto">
        SELECT id
             , title
             , content
             , viewQty
             , likeQty
             , createDt
             , createId
             , updateDt
             , updateId
             , deleteDt
             , deleteId
             , deleteYn
        FROM board_free_tbl
        WHERE deleteYn = false
        ORDER BY id DESC
    </select>
</mapper>
